<!-- ========== WHITE SECTION ========== -->
  <div id="w">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
         <h1>THE CROSSROADS OF ELVIS PRESLEY</h1> 
             <span class='eflame'><%#= link_to image_tag("eflame.png", alt:"Flame"),'http://www.crazyaboutelvis.com/'%></span>
        </div>
      </div>
    </div><!-- /container -->
  </div><!-- /w -->
  
  <!-- ========== SERVICES - GREY SECTION ========== -->
  <section id="services" name="services"></section>
  <div id="g">
    <div class="container">
      <div class="row">
        <h3>ELVIS VISITS TO SPRINGFIELD</h3>
        <br>
        <br>
        <div class="col-lg-4">
          <%= link_to image_tag("dummies/shrine.jpg", alt:"Shrine")%>
          <h4>London</h4>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever.</p>
        </div>
        <div class="col-lg-4">
          <%= link_to image_tag("dummies/frisco.jpg", alt:"Frisco")%>
          <h4>Berlin</h4>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever.</p>
        </div>
        <div class="col-lg-4">
          <%= link_to image_tag("dummies/jqh.jpg", alt:"Hammons")%>
          <h4>Paris</h4>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever.</p>
        </div>
        
      </div>
    </div><!-- /container -->
  </div><!-- /g -->
  
  <!-- ========== CHARTS - DARK GREY SECTION ========== -->
  <div id="dg">
    <div class="container">
      <div class="row">
        <div class="responsive-slider" >
          <div class="slides" data-group="slides">
            <ul>
              <li>
                <div class="slide-body" data-group="slide">
                  <a><%= image_tag 'dummies/slides/e1.jpg' %> </a>
                </div>
              </li>
              <li>
                <div class="slide-body" data-group="slide">
                  <a><%= image_tag 'dummies/slides/e2.jpg' %> </a>
                </div>
              </li>
              <li>
                <div class="slide-body" data-group="slide">
                  <a><%= image_tag 'dummies/slides/e3.jpg' %> </a>
                </div>
              </li>
            </ul>
          </div>
          <a class="slider-control left" href="#" data-jump="prev"><</a>
          <a class="slider-control right" href="#" data-jump="next">></a>
          <div class="pages">
            <a class="page" href="#" data-jump-to="1">1</a>
            <a class="page" href="#" data-jump-to="2">2</a>
            <a class="page" href="#" data-jump-to="3">3</a>
          </div>
        </div>
      </div>  
    </div><!-- /container -->
  </div><!-- /dg -->
  
  <section id="portfolio" name="portfolio"></section>
  <div id="portfoliowrap">
    <div class="container">
      <div class="row">
        <h3>JOHN WILKINSON</h3>
        <br>
        <br>
        <div class="col-lg-4 port-space">
          <a href="item.html"><img src="assets/img/work1.png"></a>
        </div>
        <div class="col-lg-4 port-space">
          <a href="item.html"><img src="assets/img/work2.png"></a>
        </div>
        <div class="col-lg-4 port-space">
          <a href="item.html"><img src="assets/img/work3.png"></a>
        </div>        
      </div>  
    </div><!-- /container -->
  </div><!-- /portfoliowrap -->
  
  <!-- ========== WHITE SECTION ========== -->
  <div id="w">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
        <h3>WE WORK HARD TO DELIVER A <bold>HIGH QUALITY SERVICE</bold>. OUR AIM IS YOUR COMPLETE <bold>SATISFACTION</bold>.
        </h3>
        </div>
      </div>
    </div><!-- /container -->
  </div><!-- /w -->
  
  <!-- ========== ABOUT - GREY SECTION ========== -->
  <section id="about" name="about"></section>
  <div id="g">
    <div class="container">
      <div class="row">
        <h3>WHAT IS CRAZY 'BOUT ELVIS</h3>
        <br>
        <br>
        <div class="col-lg-2"></div>
        <div class="col-lg-8">
        <p>
      I am a lifelong resident of the Springfield MO area. Over my years living here I had heard stories of Elvis Presley and his performances in Springfield (1956 & 1977) including a train stop for an interview in 1956. I thought it remarkable that he did a show here shortly before he rose to stardom, and his second appearance was 2 months before he passed away.
    </p>
    <p>
        A short time ago I had suggested to a much younger fan of Elvis (17 at the time) to think of organizing a 60th anniversary of his first concert in 2016. Shortly after this meeting I learned the details of a local man (John Wilkinson) who had approached Elvis in his dressing room in 1956 at the Shrine Mosque and stated to him that he (Elvis) “…can’t play guitar worth a damn.” John at that time was only 10 years old, but later achieved some fame as a guitar player in groups like ‘The Kingston Trio’ and ‘The New Christy Minstrels‘. Ultimately he landed in the TCB Band, which backed Elvis Presley, from 1968 until 1977 when Elvis died. 
      </p>
      <p>
        Early this year I came to the decision to start reaching out with the anniversary idea and began in earnest to pursue the possibility of the event. The first requirement was to secure the dates of April 28-30, 2016-that became a reality after discussion with the manager of the Shrine Mosque (original location for the 1956 Elvis Presley Variety Show).
         I never intended to profit from this venture and decided that we would direct the proceeds after costs to three recipients: 1.) The Wounded Warrior Project (because of Elvis’s military service) 2.) a scholarship at Missouri State University in the name of John Wilkinson (his father was a professor of Psychology at the same school) and 3.) The Abou Ben Adhem Shriner’s Foundation (they manage the building where the 1956 event and the future dates will be held). There is another effort to gather donations to place statues based on the first meeting of John Wilkinson and Elvis Presley with the possibility of unveiling them at the April 2016 event.  
     </p>
     <p>
      Hopes are that we can celebrate Elvis and his visits here, honor John Wilkinson and secure the memory of the meeting with Elvis in 1956, and introduce a whole new generation to the music and the person, Elvis Presley. 
     </p>
     <p>
          Ted Hutchens   <br/>  
          President  <br/>
          T. Peach Enterprises, Inc.
        </p>
        <br>
        <br>
        </div>
        <div class="col-lg-2"></div>
        <div class="col-lg-3 team">
          <img class="img-circle" src="assets/img/team01.jpg" height="90" width="90">
          <h4>Liz Stewart</h4>
          <h5><i>Product Manager</i></h5>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
          <p>
            <a href="index.html#"><i class="icon-facebook"></i></a>
            <a href="index.html#"><i class="icon-twitter"></i></a>
            <a href="index.html#"><i class="icon-envelope"></i></a>

          </p>
        </div>

        <div class="col-lg-3 team">
          <img class="img-circle" src="assets/img/team02.jpg" height="90" width="90">
          <h4>Brad Casey</h4>
          <h5><i>Front-end Developer</i></h5>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
          <p>
            <a href="index.html#"><i class="icon-facebook"></i></a>
            <a href="index.html#"><i class="icon-twitter"></i></a>
            <a href="index.html#"><i class="icon-envelope"></i></a>

          </p>
        </div>

        <div class="col-lg-3 team">
          <img class="img-circle" src="assets/img/team03.jpg" height="90" width="90">
          <h4>Pamela Chow</h4>
          <h5><i>Web Designer</i></h5>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
          <p>
            <a href="index.html#"><i class="icon-facebook"></i></a>
            <a href="index.html#"><i class="icon-twitter"></i></a>
            <a href="index.html#"><i class="icon-envelope"></i></a>

          </p>
        </div>

        <div class="col-lg-3 team">
          <img class="img-circle" src="assets/img/team04.jpg" height="90" width="90">
          <h4>Tim Gates</h4>
          <h5><i>Back-end Guru</i></h5>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
          <p>
            <a href="index.html#"><i class="icon-facebook"></i></a>
            <a href="index.html#"><i class="icon-twitter"></i></a>
            <a href="index.html#"><i class="icon-envelope"></i></a>

          </p>
        </div>
      </div>
    </div><!-- /container -->
  </div><!-- /g --></div><!-- /f -->