<div style="margin-top:-40px;"  id="dg2" >
  <div style= "padding:40px 0px 20px 0px; margin-top:20px; magrin-bottom:30px;" class="container">
  
    <div  class="row centered">
      
        <%= render 'slider2' %>
     
    </div>
  </div><!-- /container -->
</div><!-- /dg -->
<!-- ========== WHITE SECTION ========== -->
<div id="w" >
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">
         <!-- <h1 class="red">THE CROSSROADS OF ELVIS PRESLEY</h1> --> 
         <%= render 'elvis_tale2' %>
             <span class='eflame'><%#= link_to image_tag("eflame.png", alt:"Flame"),'http://www.crazyaboutelvis.com/'%></span>
      </div>
    </div>
  </div><!-- /container -->
</div><!-- /w -->
<!-- ========== PICTURE SLIDER SECTION ========== -->

 
<!-- ========== ELVIS VISITS- GREY SECTION ========== -->
<section id="services" name="services"></section>
<div id="g">
  <div class="container">
    <div id ="evisit" class="row">
      <!-- <h3>ELVIS VISITS TO SPRINGFIELD</h3> -->
      <br>
      <br>
      <div class="col-lg-4">
        <%= link_to image_tag("dummies/shrine.jpg", alt:"Shrine")%>
        <h3>Shrine Mosque</h3>
        <h4>May 17, 1956</h4>
       <a data-toggle="modal" data-target="#myModald" href="#myModald">
        <button class="btn btn alert">More Info</button>
       </a> 
        <%= render 'shrine2' %>   
      </div>
      <div class="col-lg-4">
        <%= link_to image_tag("dummies/frisco.jpg", alt:"Frisco")%>
         <h3>Frisco Train Depot</h3>
        <h4>Nov. 8, 1956</h4>
       <a data-toggle="modal" data-target="#myModale" href="#myModale">
        <button class="btn btn alert">More Info</button>
       </a> 
       <%= render 'frisco2' %> 
      </div>
      <div class="col-lg-4">
        <%= link_to image_tag("dummies/jqh.jpg", alt:"Hammons")%>
        <h3>Hammons Student Center</h3>
        <h4>June 17, 1977</h4>
       <a data-toggle="modal" data-target="#myModalf" href="#myModalf"> 
         <button class="btn btn alert">More Info</button>
       </a>
       <%= render 'hammons2' %> 
      </div>
    </div>
  </div><!-- /container -->
</div><!-- /g -->
 <!-- ========== JOHN WILKINSON SECTION ========== -->

<div style="margin-top:-30px;" id="dg">
  <div style="padding-bottom:40px;padding-top:-40px;" id="portfoliowrap">
    <div class="container">
      <div id="johnrow" class="row">
        <h2 id="johnw" class="red">JOHN WILKINSON</h2>
        <br>
        <br> 
        <div style="margin-bottom:10px;" class="col-lg-4 port-space">
          <a id ="jpic1" href="#"><%= image_tag 'johnw.jpg' %></a>
        </div>
         <div style="margin-bottom:10px;" class="col-lg-4 port-space">
          <a id ="jpic1" href="#"><%= image_tag 'estatue.jpg' %></a>
        </div>
         <div style="margin-bottom:10px;" class="col-lg-4 port-space">
          <a id ="jpic1" href="#"><%= image_tag 'ejohn.jpg' %></a>
        </div>        
      </div>  
    </div><!-- /container -->
  </div><!-- /portfoliowrap -->
</div>
<!-- ========== WHITE SECTION ========== -->
<div  id="w">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">
      <h3>WHAT IS <bold> CRAZY 'BOUT </bold> ELVIS <bold>?</bold>
      </h3><br/>
      <span id="findb">
      <a data-toggle="modal" data-target="#myModalj" href="#myModalj"> 
         <button class="btn btn alert">Find Out</button>
      </a>
    </span>
      </div>
    </div>
  </div><!-- /container -->
</div><!-- /w -->
<!-- ========== ABOUT - GREY SECTION ========== -->
<section id="about" name="about"></section>
<div class="whate" id="g3">
  <div class="container">
    <div class="row centered">
      <div class="col-lg-2"></div>
      <div class="col-lg-8">
      <%= render 'about' %>
      </div>
    </div>
  </div><!-- /container -->
</div><!-- /g --></div><!-- /f -->