a<%= simple_form_for @content, :html => {:multipart => true} do |f| %>
  <%= f.error_notification %>
    <div class ='tedform'>
      <div class="row centered">
       <div class="col-lg-3"></div>
        <div id='cform' class="col-lg-6">
          <p>
            Approve Content
          <%= f.input_field :approved %>
        </p><br/>
          <span id='drop'>Select Related Visit</span><br/>
             <a class="medium button dropdown" style="background:none; border:none; margin-left:-20px"><%= f.collection_select(:visit_id, Visit.all, :id, :location)%> </a><br/><br/>
            <span id='drop'>Title</span><br/>
            <%= f.input_field :title %>
          </p><br/><br/>
          <p>
            <span id='drop'>Your Name</span><br/>
            <%= f.input_field :author %>
          </p>
          <p>
            <span id='drop'>Please Select A Photo to Upload</span><br/>
           <span style=""> <%= f.file_field :photo %></span>
          </p>
          <p id='infoz'>
           <span id='drop'>Info</span><br/>
            <%= f.text_area :info, input_html: { wrap: 'hard' } %>
          </p>
          <div class="form-actions">
            <a id='fbutton'><%= f.button :submit %></a> 
          </div>
        </div>
        <div class="col-lg-3"></div>
      </div> 
      <% end %>
    </div>
      
   
  
  
  
  
 
  