<% x = 0 %>  
<div class="modal fade" id="myModalz<%= x %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">All Content Is Subject to Approval. It may take 24 hours before you see it posted.</h4>
      </div>
      <div class="modal-body">
        <%= simple_form_for @content,:html => {:multipart => true} do |f| %>
          <%= f.error_notification %>
            
                  <p>
                     <span id='drop'>Select Related Visit</span><br/>
                     <a><%= f.collection_select(:visit_id, Visit.all, :id, :location)%> </a>
                  </p>
                  
                  <p>
                    <span id='drop'>Title</span><br/>
                    <%= f.input_field :title %>
                  </p>
                  <p>
                    <span id='drop'>Name</span><br/>
                    <%= f.input_field :author %>
                  </p>
                  <p>
                    <span id='drop'><p style="margin-bottom:-5px;" id='pictext'>Please Select A Photo to Upload</p></span><br/>
                    <p style="margin-left:190px;" id="phot"><%= f.file_field :photo %></p>
                  </p>
                  <p id='infoz'>
                   <span id='drop'>Info</span><br/>
                    <%= f.text_area :info, input_html: { wrap: 'hard' } %>
                  </p>
                  <div class="form-actions">
                    <a class='buttonsub' id='fbutton'><%= f.button :submit %></a> 
                  </div>
          
        <% end %>
      </div>
    </div>
  </div>
</div>