<div style="margin-top:-20px;" id="port">
  <div id="gallery" class="container"><% x = 0 %> 
    <div style="padding-left:15px;" class="row mt">
      <ul class="grid effect-2" id="grid">
        <% @contents.each do |content| %>    
          <%unless content.approved == false %>       
            <li class="newsy2">
              <a data-toggle="modal" data-target="#myModald<%= x %>" href= "#myModald<%= x %>">
                <%= image_tag content.photo.url(:photo) %>
                <% unless content.visit.nil? %>
                  <p id='visitz2'>
                    <span class="galvisit"><%= content.visit.location %> <br/> <%= content.visit.vdate  %></span><br/>
                  </p>
                <% end %>
                <p style=""id='galtitle'><span class='aftite'><%=content.title%></span></p><br/>
                <p id='galauthor'><span class='tite'>Submitted By:</span><span class='aftite'><%= content.author %></span></p><br/>
              </a>
            </li>
            <div class="modal fade" id="myModald<%= x %>" tabindex="-1" role="dialog"             aria-labelledby="myModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel"><%= content.title %></h4>
                  </div>
                  <div class="modal-body">
                    <p id="notice"><%= notice %></p>
                    <p id='image2'><%= image_tag content.photo.url(:photo) %></p>
                    <div class='row'> 
                      <% unless content.visit.nil? %>
                        <p id="viewvisit"> 
                          <span><%= content.visit.location %> <%= content.visit.vdate  %></span>
                        </p>
                      <%end%>
                        <p id='viewtitle'><span class='tite'></span><span class='aftite'><%= content.title %></span></p>
                        <p id='viewauthor'><span class='tite'></span><span class='aftite'><%= content.author %></span></p>
                    </div><!--END OF ROW-->
                    <div class='row'>
                      <p class ='modinfo'><span class='tite'></span><span class='aftite'><%= content.info %></span>
                        </p>
                    </div>
                  </div><!--MODAL BODY-->
                </div><!--MODAL CONTENT-->
              </div><!--MODAL DIALOG-->
            </div><!--MODAL FADE-->
            <% x += 1 %>
          <%end%> 
        <%end%>
      </ul>
    </div>
  </div>
</div>
<script>
    new AnimOnScroll( document.getElementById( 'grid' ), {
      minDuration : 0.4,
      maxDuration : 0.7,
      viewportFactor : 0.2
    } );
  </script>

