<div style="  max-height:170px;"  id="dg ">
  <div style="padding-left:15px; padding-top:30px;" class="container">
    <div  class="topshelf">
      <div style="margin-top:-25px;"  id="toprowg" class="row"><% x = 0 %>  
        <div id="shareu" class="col-lg-8 col-lg-offset-4">
       
       
          <p><%= search_form_for @search, url: search_contents_path, method: :post do |f| %>
            <a id='gddown'><%= f.select :visit_id_eq, options_from_collection_for_select(Visit.all, "id", "location",  @search.visit_id_eq),({:include_blank => 'All Elvis Visits'})  %></a>
            <% f.condition_fields do |c| %>
              <%= render "condition_fields", f: c %>
            <% end %>
            <button id="sbut" class="btn btn-default" type="submit">Search</button></p>
          <% end %>
        
      
      
       
        
          <!-- <p id="gshare"> Click the Share button to contribute your photos & stories.</p> -->
          <a data-toggle="modal" data-target="#myModalz<%= x %>" href="#myModalz<%= x %>"><p><span  id="clickit">Click the button to share your photos & stories.</span><button id="share" class="btn btn-default" type="submit">Share</button></p></a>
          <%= render 'new' %>
        </div>
      </div>
      
    </div>
  </div>
</div> <!--END of FIRST dg -->
<div style="min-height:400px;" id="dg" style="padding-top:30px;">
<%= render 'picdisplay3' %>
</div>
  