<div id="dg">
  <div class="container">
    <div id="toprowg" class="row"><% x = 0 %>  
      <div class="col-lg-4"></div>
      <div class="col-lg-4">
        <%= search_form_for @search, url: search_contents_path, method: :post do |f| %>
          <a id='gddown'><%= f.select :visit_id_eq, options_from_collection_for_select(Visit.all, "id", "location",  @search.visit_id_eq),({:include_blank => 'All Elvis Visits'})  %></a>
          <% f.condition_fields do |c| %>
            <%= render "condition_fields", f: c %>
          <% end %>
                <!-- <p><%#= link_to_add_fields "Add Conditions", f, :condition %></p> -->
          <!-- <div id='searchfilter' class="actions"><%#= f.submit "Search" %></div> -->
          <button id="sbut" class="btn btn-default" type="submit">Search</button>
        <% end %>
      </div>
      <div class="col-lg-4"></div>
    </div>
    <div class='row'>
      <div class="col-lg-3"></div>
      <div class="col-lg-6">
        <!-- <p id="gshare"> Click the Share button to contribute your photos & stories.</p> -->
        <a data-toggle="modal" data-target="#myModal<%= x %>" href="#myModal<%= x %>">Click the Share button to contribute your photos & stories.<button id="share" class="btn btn-default" type="submit">Share</button></a>
        <%= render 'new' %>
      </div>
      <div class="col-lg-3"></div>
    </div>
  </div>
</div>
<div id="g">
  <div id="gallery" class="container">
    <div class='row'>
      <div class="col-lg-1"></div>
        <%= render 'show' %>
        <% @contents.in_groups_of(3, false) do |contents| %> 
          <% @contents.each do |content| %>
          <!--  BELOW IS THE CODE FOR THE GALLERY PHOTO DISPLAY -->                
         
          
            <a data-toggle="modal" data-target="#myModal2<%= x %>" href="#myModal2<%= x %>">
            <div class="col-lg-4">      
              <p id='image2'><%= image_tag content.photo.url(:photo) %></p>
              <% unless content.visit.nil? %>
                <p id='visitz2'>
                  <span class="galvisit"><%= link_to h(content.visit.location), content.visit %>
                    <%= link_to h(content.visit.vdate), content.visit %></span><br/>
                </p>
              <% end %>
              <p id='galtitle'><span class='tite'>Title:</span><span class='aftite'><%=content.title%></span></p><br/>
              <p id='galauthor'><span class='tite'>Submitted By:</span><span class='aftite'><%= content.author %></span></p><br/>
            </div>
            <div class="col-lg-1"></div>
            
                <% x += 1 %>
          <%end%> 
          </a>
        <%end%> 
      </div>
    </div>
  </div>
</div>
