<div id="dg" style=" padding-top:20px;">
  <div class="container">
    <div class="row">
      <div class= "col-lg-12">
        <div class= "col-lg-4">
          
           
        </div>
        <div id="paginate" class='col-lg-4'> 
      </div> 
    </div>
  </div>
    <div id='newsrow' class='row'>
      <div class= "col-lg-2"></div>
      <div class= "col-lg-8">  
        
        <div class= "col-lg-4">
          <span id="pageit"> <%= will_paginate @articles, previous_label: h("<"), next_label: h(">") %></span>
        </div>
      </div>
      
    </div>
    
      <% @articles.each do |article| %>
        <div style="padding-top:60px;" id='newsrow' class='row'>
          <div class= "col-lg-2"></div>
          <div style="float:left;" class= "col-lg-7">  
            <div  id="figure" class="panel panel-default">
              
                <div class="panel-body">              
                  <div class= "col-lg-2">
                    <p id='image2'><%= image_tag article.photo.url(:photo) %></p>
                  </div>
                  <div style="padding-right:20px; margin-top:5px;" class= "col-lg-7 pull-right">
                    <h3 style="font-family:Lora;" id='tnews'><%= article.title %></h3>
                    <p id='anews'><%= article.author %></p>
                    <p id='dnews'><%= article.published %></p>
                    <button style="border-radius:7px; margin-bottom:5px; margin-top:-10px;"><%=link_to "Click To Read", article.link, :class => "btn", :target => "_blank" %></button>
                  </div>
                
                </div>
              
            </div>
          </div>
        </div>   
        
      <% end %>
   
  </div>
</div>




