<div id="dg">
  <div class="container">
    <div class="row centered">
      
       <%= link_to 'ADD NEW CONTENT', new_content_path %>
          <table id="newsart" class="table table-bordered">
            <tr>
              <th>Image</th>
              <th>Visit Location</th>
              <th>Visit Date</th>
              <th>Title</th>
              <th>Author</th>
              <th>Approved</th>
              <th>Show</th>
              <th>Edit</th>
              <th>Remove</th>
            </tr>
            <% @contents.each do |content| %>
              
                <tr>
                  <td id="newsphoto"><%= image_tag content.photo.url(:photo) %></td>
                    <td><%= content.visit.location %></td>
                     <td><%= content.visit.vdate %></td>
                    <td><%= content.title %></td>
                    <td><%= content.author %></td>
                    <td><%= content.approved %></td>
                    <td><%= link_to 'Show', content %></td>
                    <td><%= link_to 'Edit', edit_content_path(content) %></td>
                    <td><%= link_to 'Destroy', content, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                </tr>
              <%end%>  
            </table>
          
        </div>
      </div>
    </div>