<script>
$('#myTab a').click(function (e) {
  e.preventDefault()
  $(this).tab('show')
})
</script>
<%if current_user %>

  <div style="min-height:800px;" id="dg">
    <h3>WEBSITE ADMIN DASHBOARD</h3><br/>
    <div class="container">

      <div class="row">
        <ul style=" margin-bottom:-5px;" class="nav nav-tabs">
          <li><a href="#users" data-toggle="tab">Users</a></li>
          <li><a href="#slider" data-toggle="tab">Slider</a></li>
          <li><a href="#photos" data-toggle="tab">Photos</a></li>
          <li><a href="#events" data-toggle="tab">Events</a></li>
          <li><a href="#news" data-toggle="tab">News</a></li>
        </ul>
        <div class="tab-content">
          <div class="tab-pane active" id="users"><%= render 'adminusers' %></div>
          <div class="tab-pane" id="slider"><%= render 'image_slider' %></div>
          <div class="tab-pane" id="photos"><%= render 'photo_gallery' %></div>
          <div class="tab-pane" id="events"><%= render 'events' %></div>
          <div class="tab-pane" id="news"><%= render 'news_articles' %></div>
        </div>
      </div>
    </div>
  </div>


  <%else%>
  <h1>YOU ARE NOT AUTHORIZED TO ACCESS THIS AREA</h1>
  <%end%>