<%= simple_form_for(@event) do |f| %>
  <% if @event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% @event.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class ='tedform2'>
      <div class="row">
        <div id='eform' class="large-6 large-centered columns">
  <div class="field">
    <span class='eventlab'>Event Name</span><br/>
   <p id='calname'> <%= f.text_field :name %></p>
  </div>
  <div class="field">
   <span class='eventlab'>Event Date</span><br/>
   <a class="medium button dropdown" style="background:none; border:none; margin-left:-20px"><%= f.collection_select(:eventday_id, Eventday.all, :id, :day)%> </a>
  </div>
  <div class="field">
    <span class='eventlab'>Start Time</span><br/>
 <p id='caltime'> <%= f.text_field :start_time, :as => :datetimepicker, :input_html => {:value => @event.start_time} %></p>
  </div>
  <div class="field">
   <span class='eventlab'>Address</span><br/>
  <p id='calplace'>  <%= f.text_area :address %></p>
  </div>
  <div class="field">
    <span class='eventlab'>Event Description</span><br/>
  <p id='calinfo'>  <%= f.text_area :einfo %></p>
  </div>
  <div class="actions">
 <%= f.submit %>
  </div>
<% end %>
</div>
</div>
</div>