<div class='row'>
    <div class="large-5 columns">
      <p>
       <b class='eventb'>Event:</b>
       <span class='eventshow'> <%= event.name %> </span>
      </p>
      <p>
        <b class='eventb'>Date:</b>
        <span class='eventshow'> <%= event.eventday %> </span>
      </p>
      <p>
        <b class='eventb'>Starts At:</b>
        <span class='eventshow'> <%= event.start_time%> </span>
      </p>
      <p>
       <b class='eventb'>Location:</b>
       <span class='eventshow'> <%= event.address %> </span>
      </p>
      <p>
        <b class='eventb'>Details:</b><br/>
        <span class='eventshow'> <%= event.einfo %> </span>
      </p>
    </div>
    <a class="close-reveal-modal">&#215;</a>
    <div class="large-7 columns">
      <%#= image_tag "http://maps.google.com/maps/api/staticmap?size=450x300&sensor=false&zoom=16&markers=#{event.latitude}%2C#{event.longitude}" %>
    </div>
</div>