<section id="home" name="home"></section>
	<div class="myheaderz" id="headerwrap">
		<div class="container">
			<div class="row">
				<h1 style="margin-top:20px;"><%= link_to image_tag("elogo.png", alt:"elvislogo"),'http://www.crazyaboutelvis.com/'%></h1>
				<h2>COMING IN 2016</h2>
			</div>
			<div class="row">	
				<div class="navbar navbar-fixed" role="navigation">
	     			<div class="navbar-header">
						<div style="padding-bottom:20px;" class="navbar-collapse collapse">
							<nav class="menu" id="theMenu">
								<div class="menu-wrap">
									<h1 class="logo"><%= link_to image_tag("elogo2.png", alt:"elvislogo")%></h1>
									<i id="closex" class="icon-remove menu-close"></i>
									
										<ul class="nav navbar-nav">
											<li><a href="#" class="smoothScroll"><%= link_to "HOME",  home_path %></a></li>
											<li><a href="#" class="smoothScroll"><%= link_to "PHOTOS", gallery_path %></a></li>
											<li><a href="#" class="smoothScroll"><%= link_to "EVENT INFO", schedule_path %></a></li>
											<li><a href="#" class="smoothScroll"><%= link_to "TICKET INFO", ticket_path %></a></li>
											<li><a href="#" class="smoothScroll"><%= link_to "MERCHANDISE", merchandise_path %></a></li>
											<li><a href="#" class="smoothScroll"><%= link_to "NEWS", news_path %></a></li>
											<li><a href="#"><i class="icon-facebook"></i></a></li>
											<li><a href="#"><i class="icon-twitter"></i></a></li>
										</ul>
									</div>
								</div>	
								<div id="menuToggle"><i class="icon-reorder"></i></div>
							</nav>
			        	</div><!--/.nav-collapse -->
			      
      				</div>
				</div>
			</div>
   		