<section id="home" name="home"></section>
	<div style="margin-bottom:15px;" class="myheaderz" id="headerwrap">
		<div class="container">
			<div id="header1" class= "hidden-xs ">
				<div class="row">
					<h1 style="margin-top:20px;"><%= link_to image_tag("elogo.png", alt:"elvislogo"),'http://www.crazyaboutelvis.com/'%></h1>
					<h2>COMING IN 2016</h2>
				</div>
				<div class="row">	
					<div class="navbar navbar-fixed" role="navigation">
		     			<!-- <div class="container"> -->
		        			
				        	<div style="padding-bottom:20px;" class="navbar">
				          		<ul class="nav navbar-nav">
				            		<li><%= link_to "HOME",  home_path %></li>
									<li><%= link_to "PHOTOS", gallery_path %></li>
									<li><%= link_to "EVENT INFO", schedule_path %></li>
									<li><%= link_to "TICKET INFO", ticket_path %></li>
									<li><%= link_to "MERCHANDISE", merchandise_path %></li>
									<li><%= link_to "NEWS", news_path %></li>
				          		</ul>
				        	</div><!--/.nav-collapse -->
				       <!--  </div> -->
	      			</div>
				</div>
			</div><!--  END HEADER 1 -->
		</div>
    </div>
			<div id="header2" class= "hidden-sm hidden-md hidden-lg ">
			    <div style="margin-bottom:15px;" class="navbar navbar-default navbar-fixed-top" role="navigation">
			      <div id="headme2" class="container">
			        <div class="navbar-header">
			          <button style="margin-top:30px;"type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
			            <span class="sr-only">Toggle navigation</span>
			            <span class="icon-bar"></span>
			            <span class="icon-bar"></span>
			            <span class="icon-bar"></span>
			          </button>
			          <a class="navbar-brand" href="#"><span id="navpic"><%= link_to image_tag("elogo.png", alt:"elvislogo"),'http://www.crazyaboutelvis.com/'%></span></a>
			        </div>
			        <div class="navbar-collapse collapse">
			            <ul id="nav2" class="nav navbar-nav">
				            <li><%= link_to "HOME",  home_path %></li>
							<li><%= link_to "PHOTOS", gallery_path %></li>
							<li><%= link_to "EVENT INFO", schedule_path %></li>
							<li><%= link_to "TICKET INFO", ticket_path %></li>
							<li><%= link_to "MERCHANDISE", merchandise_path %></li>
							<li><%= link_to "NEWS", news_path %></li>
			            </ul>
			        </div><!--/.nav-collapse -->
			      </div>
			    </div>
			</div><!--  END HEADER 2 -->
		
    <script>
    $(document).ready(function() {
  		$('.navbar-collapse').collapse('hide');
	});
    </script>
			
	